@import url("https://github.com/e204157yr/e204157yr.github.io/tree/0b2f8bfaafed3397173cd1568dda47a3a9ac7afd/images");
h1{
    color:#ffffff;
    font-size:50px;
    font-weight:bold;
    font-family:"Impact";
    text-align:center;
    background-color:#333333;
}
h2{
    color:aqua;
    font-weight:100;
    font-family:"arial";
    background-color:#333333;
    text-align:center;
}
h3{
    color:aqua;
    font-weight:100;
    font-family:"arial";
    background-color:#333333;
    text-align:center;
}
h4{
    font-size:20px;
    font-weight:bold;
    color: #000;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

body{
    background-image: url(../images/ggo.jpg)
}



p{
    font-weight:bold;
    font-size:30px
    text-align:center;
    
    color:#ffffff;
    text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;
}


img {
    margin: 0px;
    
    padding: 0px;
width: 33%;
height: 40%;
}

a{
    color:yellow;
}